*
{

  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.main {
  padding: 40px 0;
  width: 100%;
  background-color: greenyellow;
  min-height: 400px;
  background-image: url('https://cursos.dankicode.com/app/Views/public/images/home/banner-home.png');
  background-position: center;
  background-size: cover;

}
.center {

  max-width: 960px;
  margin: 0 auto;
  padding:0 2%;
  display: flex;
  flex-wrap: wrap;
}
.menu{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu a{
  color: white;
  text-decoration:none;
  border: 1px solid white;
  padding: 3px 8px;
  border-radius: 5px;
}
.menu h3 {

  color: beige;
}
.form{
  margin: 40px auto;
  width: 100%;
  display: flex;
  max-width: 600px;
  margin:10px auto;
  justify-content: center;
}
.form h2{
  color: white;
  font-size: 28px;
  font-weight: normal;


  
}
.form input[type=text]{
  width: 50%;
  justify-content: space-between;
  height: 30px;
  margin: 7px 0;
}
.items-form {
  margin: 0 auto;
  max-width: 540px;
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}
.items-form input[type=text]{
  width: 49%;
  height: 30px;
  margin: 8px 0px;
  padding-left: 10px;
}
.items-form input[type=submit]{
  width: 100% ;
  height: 40px;
  background-color: #e7426e;
  cursor: pointer;
  color: white;
  border: 0;
  font-size: 19px;

}
@media screen and(max-width:768px) {
  .items-form input[type=text]{
    width: 100%;
    
  }
}
.conteudo-single{
  margin-top: 20px;
  width: 50%;
  padding: 8px 30px;
}

